doctype html
html(lang="en")
    head
        title #{ appName }
        meta(charset="UTF-8")
        link(rel="icon" type="image/x-icon" href="https://docs.nestjs.com/favicon.ico")

    body(style="height:100vh;display:flex;justify-content:center;align-items:center;flex-direction:column;font-family:monospace")
        h1 #{ appName }
        p !{ since }
